<div>
  <div>
    <h1>
      <%= @the_board.name %>
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new post
    </h2>

    <form action="/insert_board" method="post">
      <div>
        <label for="title_box">
          Title
        </label>
        <input type="text" id="title_box" name="title">
      </div>
      <div>
        <label for="body_box">
          Body
        </label>
        <textarea type="text" id="body_box" name="body" rows="3"></textarea>
      </div>
      <div>
        <label for="expires_on_box">
          Expires on
        </label>
        <input type="date" id="expires_on_box" name="expiration">
      </div>

      <button>
        Add post
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <h2>Active posts</h2>
  <div>
    <table border="1">
      <tr>

        <th>
          Title
        </th>

        <th>
          Body
        </th>

        <th>
          Posted on
        </th>

        <th>
          Expires on
        </th>
      </tr>

      <% @active_posts.order({ :expires_on => :desc }).each do |a_post| %>
      <tr>

        <td>
          <%= a_post.title %>
        </td>

        <td>
          <%= a_post.body %>
        </td>

        <td>
          <%= format_date(a_post.created_at) %>
        </td>

        <td>
          <%= format_date(a_post.expires_on) %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div>
  <h2>Expired posts</h2>
  <div>
    <table border="1">
      <tr>

        <th>
          Title
        </th>

        <th>
          Body
        </th>

        <th>
          Posted on
        </th>

        <th>
          Expires on
        </th>
      </tr>

      <% @expired_posts.order({ :expires_on => :desc }).each do |a_post| %>
      <tr>

        <td>
          <%= a_post.title %>
        </td>

        <td>
          <%= a_post.body %>
        </td>

        <td>
          <%= format_date(a_post.created_at) %>
        </td>

        <td>
          <%= format_date(a_post.expires_on) %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
